<div class="container-fluid">
    <div class="row">
        <!-- Col- 9 para toda a main div -->
        <div class="col-9 main-content">

            <!-- Linha para o titulo da página -->
            <div class="row">
                <div class="col-12 main-title">
                    <h2>Sugerir novo local....</h2>
                    <hr>
                </div>
            </div>

            <!-- Local interesse e adicionar foto -->
            <div class="row local-interesse">

                <div class="col-10 main-title">
                    <h2>Local de interesse</h2>
                </div>

                <div class="col-2">
                    foto utilizador e adicionar foto
                </div>
                
            </div>

            <!-- Formulario de adicionar local -->
            <div>

                    <div class="container container-margin-top">

                            <form class="form-test">
                        
                                <!-- Nome do Local -->
                                <div class="form-group row">
                        
                                    <label for="inputAddress" class="col-sm-2 col-form-label">Nome do Local</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" placeholder="Paço dos Condes">
                                    </div>
                        
                                    <label for="inputAddress" class="col-sm-2 col-form-label">Ano de Construção</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" placeholder="Ano">
                                    </div>
                                </div>
                        
                        
                                <!-- Informações geograficas -->
                                <div class="form-group row">
                        
                                    <p class="col-sm-3 col-form-label">Localização Geográfica</p>
                                    <label for="inputAddress" class="col-sm-1 col-form-label">Lat</label>
                                    <div class="col-sm-3">
                                        <input type="number" class="form-control" placeholder="41.528249">
                                    </div>
                        
                                    <div class="col-1">
                        
                                    </div>
                                    <label for="inputAddress" class="col-sm-1 col-form-label">Long</label>
                                    <div class="col-sm-3">
                                        <input type="number" class="form-control" placeholder="-8.621737">
                                    </div>
                        
                                </div>
                        
                                <!-- Proprietário -->
                                <div class="form-group row">
                        
                                    <label for="inputAddress" class="col-sm-2 col-form-label">Proprietário Actual</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Câmara Municipal de Barcelos">
                                    </div>
                        
                                </div>
                        
                                
                                <!-- História -->
                                <div class="form-group row">
                        
                                        <label for="inputAddress" class="col-sm-2 col-form-label">História</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control local-history" id="exampleFormControlTextarea1" rows="4"
                                            placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam commodo magna in consectetur luctus. Nullam vel quam eget ipsum pulvinar hendrerit. Sed sit amet lacus rutrum, posuere nisl non, interdum leo. Phasellus luctus in nisi nec efficitur. Sed auctor tellus a elit pulvinar, eget suscipit lorem elementum. Ut ac leo et felis sodales euismod. Suspendisse eu ipsum imperdiet, pellentesque leo quis, tincidunt nisi. Sed eleifend facilisis mauris sit amet suscipit. Donec vulputate nulla nisl, id hendrerit sem ornare sed. Maecenas efficitur purus vel nisl tristique viverra. Pellentesque volutpat felis vel urna faucibus commodo. Morbi quis velit purus. Maecenas fermentum orci vitae dignissim ultrices."
                                            ></textarea>
                                        </div>
                            
                                </div>
                        
                                <!-- Outras Informações -->
                                <div class="form-group row">
                        
                                        <label for="inputAddress" class="col-sm-2 col-form-label">Outras Informações</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control local-history" id="exampleFormControlTextarea1" rows="2" placeholder="...horários, preços..."></textarea>
                                        </div>
                            
                                </div>
                        
                                <div class="row justify-content-center coluna-submeter">
                                    <div class="col-4 text-center">
                                            <button type="submit" class="btn btn-primary">Submeter</button>
                                    </div>
                                </div>
                                
                                
                            </form>
                        
                        </div>


            </div>      
        </div>
        
        <div class="col-3">

            <!-- Sidebar com historia do site -->
            <div class="sidebar-atributes text-center"> sidebar
            </div>
        </div>
    </div>
</div>