<div class="container-fluid">
    <div class="row">
        <!-- Col- 9 para toda a main div -->
        <div class="col-9 main-content">

            <!-- Linha para o titulo da página -->
            <div class="row">
                <div class="col-12 main-title text-center">
                    <h3>SUGERIR NOVO LOCAL</h3>
                    <hr>
                </div>
            </div>

            <!-- Local interesse e adicionar foto -->
            <div class="row local-interesse">

                <div class="col-10 main-title">
                    <h2>Local de interesse</h2>     
                </div>

                <div class="col-2 text-center">
                    <img src="https://i.imgur.com/uRbVpD6.png" alt="" id="userImage">
                    <p><a href="">Adicionar Fotos</a></p>
                </div>
                
            </div>

            <!-- Formulario de adicionar local -->
            <div>

                    <div class="container container-margin-top">

                            <form class="form-test">
                        
                                <!-- Nome do Local -->
                                <div class="form-group row">
                        
                                    <label for="inputAddress" class="col-sm-3 col-form-label">Nome do Local</label>
                                    <div class="col-sm-5">
                                        <input type="text" class="form-control" placeholder="Paço dos Condes" [(ngModel)]="localName"
                                        [ngModelOptions]="{standalone: true}" required >
                                    </div>
                        
                                    <label for="inputAddress" class="col-sm-2 col-form-label">Ano de Construção</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" placeholder="Ano" [(ngModel)]="localYear"
                                        [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                        
                        
                                <!-- Informações geograficas -->
                                <div class="form-group row">
                        
                                    <p class="col-sm-3 col-form-label">Localização Geográfica</p>
                                    <label for="inputAddress" class="col-sm-1 col-form-label">Lat</label>
                                    <div class="col-sm-3">
                                        <input type="number" class="form-control" placeholder="41.528249" [(ngModel)]="localLat"
                                        [ngModelOptions]="{standalone: true}" >
                                    </div>
                        
                                    <div class="col-1">
                        
                                    </div>
                                    <label for="inputAddress" class="col-sm-1 col-form-label">Long</label>
                                    <div class="col-sm-3">
                                        <input type="number" class="form-control" placeholder="-8.621737" [(ngModel)]="localLong"
                                        [ngModelOptions]="{standalone: true}">
                                    </div>
                        
                                </div>
                        
                                <!-- Proprietário -->
                                <div class="form-group row">
                        
                                    <label for="inputAddress" class="col-sm-3 col-form-label">Proprietário Actual</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" placeholder="Câmara Municipal de Barcelos" [(ngModel)]="localPropr"
                                        [ngModelOptions]="{standalone: true}">
                                    </div>
                        
                                </div>
                        
                                
                                <!-- História -->
                                <div class="form-group row">
                        
                                        <label for="inputAddress" class="col-sm-3 col-form-label">História</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control local-history" id="exampleFormControlTextarea1" rows="4"
                                            [(ngModel)]="localHistory" [ngModelOptions]="{standalone: true}" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam commodo magna in consectetur luctus. Nullam vel quam eget ipsum pulvinar hendrerit."
                                            ></textarea>
                                        </div>
                            
                                </div>
                        
                                <!-- Outras Informações -->
                                <div class="form-group row">
                        
                                        <label for="inputAddress" class="col-sm-3 col-form-label">Outras Informações</label>
                                        <div class="col-sm-9">
                                            <textarea class="form-control local-history" id="exampleFormControlTextarea1" rows="2" placeholder="Horários, preços..." [(ngModel)]="localOtherInfo" [ngModelOptions]="{standalone: true}" ></textarea>
                                        </div>
                            
                                </div>
                        
                                <div class="row justify-content-center coluna-submeter">
                                    <div class="col-4 text-center">
                                            <button type="submit" class="btn btn-primary" [disabled]= "(localName === '') || (localName === untouched ) ">Submeter</button>
                                    </div>
                                </div>
                                
                                
                            </form>
                        
                        </div>


            </div>      
        </div>
        
        <div class="col-3">

            <!-- Sidebar com historia do site -->
            <div class="sidebar-atributes "> 
                <div class="row row-historify align-items-center">
                    <div class="col-12 text-center">
                        <h2>HISTORIFY</h2>
                    </div>
                </div>

                <div class="row row-sobre align-items-center">
                    <div class="col-12 text-center">
                        <h5>Um pouco sobre o site...</h5>
                    </div>
                </div>

                <div class="row row-historia align-items-top">
                    <div class="col-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor odio libero, sed rhoncus leo porta eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla in ligula nec leo sagittis maximus in non sapien. Mauris interdum enim eu est commodo sodales. Ut tincidunt magna id mi mattis mollis. Donec gravida pellentesque dui, sit amet molestie nulla scelerisque ac.</p>
                    </div>
                </div>

              
            </div>
        </div>
    </div>
</div>


<!-- 
PARA RESOLVER:

Sidebar: se tiver fixed quando se da scroll down e a barra de navegação desaparece, deixa muita margem em cima. 
Se estiver como position absolute, passa a aceitar scroll... -->