/* Atributos para a sidebar */
.row-historify {
    height: 10%;
    vertical-align: middle;
    color: white;
}

.row-sobre {
    height: 5%;
    vertical-align:middle;
    color: white;
}

.row-historia {
    height: 85%;
    padding: 15px;
    font-size: 0.9rem;
    color: white;
}

.sidebar-atributes{
    background-color: #4F665F ;
    border-radius: 25px;
    height: 90vh;
    position: absolute;
    width: 85%;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
}



/* //////////////////////////////////////////////////////////////// */

.container-fluid {
    margin-top:20px;
    margin-bottom: 15px;
}

.main-content {
    margin-top: 30px;
    padding-right: 40px;
    padding-left: 60px;
}



.main-title {
    color: #4F665F;
}

.icons-links {
    position: relative;
    
}

.icons-links p {
    vertical-align: middle; 
    margin-left: 12px;
    display: inline;
    font-size: 1.2rem;
    color: #4F665F;
    margin-right: 12px;
}

.col-historia-local{ 
    background-color: #4F665F ;
    color: white;
    padding-left: 15px;
    padding-bottom: 30px; 
    border-radius: 25px;
    margin-right: 15px;
    margin-bottom: 7vh;
    margin-top: 40px;
}

.col-historia-local h3 {
    vertical-align: middle;
    line-height: 70px;
    padding-left: 25px;
}

.col-historia-local p {
    padding-left: 15px;
    
}

.icon-imagem{
    height: 30px;
    width: 30px;
    object-fit: cover;
    vertical-align: middle; 
    margin-left: 12px;
}

.icon-imagem:hover{
    transition-duration: 0.3s;
    transform-origin: center;
    transform: scale(1.5);
    object-fit: cover;

}

.row-title {
    padding-right: 15px;
}

.historia-imagens {
    height: 75vh;
    overflow: auto;

}

/*=============== SCROLLBAR ===============*/

    /* width */
    ::-webkit-scrollbar {
        width: 14px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
        border: 1px solid #4F665F;
        border-radius: 15px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #4F665F;
        border-radius: 15px;
    }


/*=============== IMAGENS DO LOCAL ===============*/

.local-imagem-vertical {
    height: 65vh;
    width: 100%;
    object-fit: cover;
    background-color: #4F665F;
    border-radius: 25px;
}
.local-imagem-horizontal {
    height: 30vh;
    width: 100%;
    object-fit: cover;
    background-color: #4F665F;
    border-radius: 25px;
    margin-bottom: 5vh;
}

.local-imagem-horizontal-pequena {
height: 10vh;
width: 100%;
object-fit: cover;
background-color: #4F665F;
border-radius: 25px;

}

.imagens-pequenas {
    padding-left: 59px;
    padding-right: 61px;
}

.imagens-pequenas-col {
    padding-left: 5px;
    padding-right: 5px;
}

