.container-margin-top {
    margin-top: 50px;
}

.col-form-label {
   
}

.form-test {
    padding-left: 15px;
}

.local-history {
    resize: none;
}

.btn {
    width: 60%;
    background-color:  #4F665F;
}

.coluna-submeter {
    margin-top: 50px;
    margin-bottom: 25px;
}