<div class="container-fluid">

  <div class="row">

    <!-- Lado para o local -->
    <div class="col-9 main-content">

      <div class="row row-title">


        <!-- Nome do local -->
        <div class="col-6 main-title">

          <h2>Nome do local</h2>


        </div>

        <!-- Icons com links para funções -->
        <div class="col-6 icons-links text-right ">
          <img class="icon-imagem" src="assets\star.png">
          <p><b>3.9</b></p>
          <a href="#"><img class="icon-imagem" src="assets\visitado.png"></a>
          <a href="#"><img class="icon-imagem" src="assets\heart.png"></a>
          <!-- <a href="#"><img class="icon-imagem" src="assets\audio.png"></a> -->
          <a href="#"><img class="icon-imagem" src="assets\cronologia.png"></a>
          <a href="#"><img class="icon-imagem" src="assets\comentario.png"></a>

        </div>
      </div>

      <!-- Div container para historia e fotos com scroll -->
      <div class="container-fluid historia-imagens">

        <!-- Historia do local -->
        <div class="row justify-content-center">

          <div class="col-11 col-historia-local">
            <h3 class="text-center">História do Local</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultricies volutpat nulla quis mattis.
              Quisque aliquam sollicitudin porttitor. Nullam magna dolor, pulvinar pharetra purus in, venenatis suscipit
              justo. Nullam facilisis enim dui, sed imperdiet lectus posuere imperdiet.
              Donec massa purus, blandit ac gravida sit amet, gravida id est. Etiam dictum dapibus orci, vel consectetur
              lorem placerat in. Fusce rhoncus placerat blandit.
              Pellentesque blandit nunc consectetur eros gravida efficitur. Fusce id metus id turpis consectetur
              lobortis. Aliquam erat volutpat. Mauris id arcu velit. In hac habitasse platea dictumst.
              Vivamus quis lectus sit amet ligula rhoncus venenatis nec in turpis. Fusce bibendum, erat congue tempor
              porttitor, massa lorem congue purus, ac pretium odio dui viverra orci.
            </p>
            <p>Fusce tempus ex ante, et eleifend sem suscipit ac. Curabitur vulputate tristique mi. Vestibulum dolor
              neque, vehicula sed eleifend sed, hendrerit eu tortor.
              Nunc eu augue libero. Sed molestie sapien in condimentum vulputate. Sed mollis sem eu tortor pharetra
              posuere. Quisque mi risus, ornare iaculis tempor ut, rutrum id tellus. Nunc dignissim rutrum elit id
              tincidunt.
              Aenean vestibulum erat tellus. Etiam nisl justo, volutpat quis diam at, scelerisque vulputate nisl.
              Phasellus non felis mi.
            </p>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ultricies volutpat nulla quis mattis.
              Quisque aliquam sollicitudin porttitor. Nullam magna dolor, pulvinar pharetra purus in, venenatis suscipit
              justo. Nullam facilisis enim dui, sed imperdiet lectus posuere imperdiet.
              Donec massa purus, blandit ac gravida sit amet, gravida id est. Etiam dictum dapibus orci, vel consectetur
              lorem placerat in. Fusce rhoncus placerat blandit.
              Pellentesque blandit nunc consectetur eros gravida efficitur. Fusce id metus id turpis consectetur
              lobortis. Aliquam erat volutpat. Mauris id arcu velit. In hac habitasse platea dictumst.
              Vivamus quis lectus sit amet ligula rhoncus venenatis nec in turpis. Fusce bibendum, erat congue tempor
              porttitor, massa lorem congue purus, ac pretium odio dui viverra orci.
            </p>
            <p>Fusce tempus ex ante, et eleifend sem suscipit ac. Curabitur vulputate tristique mi. Vestibulum dolor
              neque, vehicula sed eleifend sed, hendrerit eu tortor.
              Nunc eu augue libero. Sed molestie sapien in condimentum vulputate. Sed mollis sem eu tortor pharetra
              posuere. Quisque mi risus, ornare iaculis tempor ut, rutrum id tellus. Nunc dignissim rutrum elit id
              tincidunt.
              Aenean vestibulum erat tellus. Etiam nisl justo, volutpat quis diam at, scelerisque vulputate nisl.
              Phasellus non felis mi.
            </p>
          </div>
        </div>

        <!-- Row para fotografias -->
        <div class="row justify-content-center galeria">


          <!-- IMAGEM VERTICAL -->
          <div class="col-5 text-center">
            <img src="" class="local-imagem-vertical">
          </div>

          <!-- IMAGENS HORIZONTAIS -->
          <div class="col-5">

            <img src="" class="local-imagem-horizontal">
            <img src="" class="local-imagem-horizontal">

          </div>
        </div>

        <!-- Row para fotografias pequenas -->

        <div class="row justify-content-center imagens-pequenas">
          <div class="col imagens-pequenas-col">
            <img src="" class="local-imagem-horizontal-pequena">
          </div>

          <div class="col imagens-pequenas-col">
            <img src="" class="local-imagem-horizontal-pequena">
          </div>

          <div class="col imagens-pequenas-col">
            <img src="" class="local-imagem-horizontal-pequena">
          </div>

          <div class="col imagens-pequenas-col">
            <img src="" class="local-imagem-horizontal-pequena">
          </div>

        </div>

      </div>

    </div>




    <!-- Lado direito para a sidebar -->
    <div class="col-3">

      <div class="sidebar-atributes">
        <div class="row row-historify align-items-center">
          <div class="col-12 text-center">
            <h4>Previsão do Tempo</h4>
          </div>
        </div>

        <div class="row row-sobre align-items-center">
          <div class="col-12 text-center temperatura">
            <hr>
            <div class="row">
              <div class="col-4 current-day text-center">
                <p>Domingo</p>
                <img src="https://i.imgur.com/JS5ZpYt.png" alt="">
                <p>25ºC</p>

              </div>
              <div class="col-4">
                <p>Segunda</p>
                <img src="https://i.imgur.com/JS5ZpYt.png" alt="">
                <p>27ºC</p>

              </div>
              <div class="col-4">
                <p>Terça</p>
                <img src="https://i.imgur.com/H2SYbPp.png" alt="">
                <p>23ºC</p>

              </div>

            </div>
            <hr>

            <div class="row">
              <div class="col-12">
                <h6 class="text-center">Informação do Local</h6>

                <p class="text-left">Ano de Construção: </p>
                <!-- <p></p> Acrescentar variavel dentro do p -->
                <p class="text-left">Estilo: </p>
                <!-- <p></p> Acrescentar variavel dentro do p -->
                <p class="text-left">Informações Geográficas: </p>
                <!-- <p></p> Acrescentar variavel dentro do p -->
                <p class="text-left">Proprietário: </p>
                <!-- <p></p> Acrescentar variavel dentro do p -->
                <p class="text-left">Outras Informações: </p>
                <!-- <p></p> Acrescentar variavel dentro do p -->
              </div>

            </div>
            <hr>

            <div class="row">
              <div class="col-12">
                <h6 class="text-center">Rating: </h6>
                <img src="https://i.imgur.com/tam3W6A.png" id="rating" alt="">

              </div>

            </div>

            <div class="row">
              <div class="col-12" id="distancia">
                <h6>DISTÂNCIA DO LOCAL:</h6>
                <h4>A 4km de si...</h4>


              </div>

            </div>

          </div>
        </div>

      </div>


    </div>
  </div>
</div>