<!--Div para o main content da home page -->
<div class="maindiv">
    <br>
    <p>Pesquisa de locais...</p>
    <hr>

    <!-- dop down dos concelhos-->
    <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Localização
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Barcelos</a>
            <a class="dropdown-item" href="#">Braga</a>
            <a class="dropdown-item" href="#">Porto</a>
        </div>
    </div> -->

    <br>

    <!-- dop down dos locais-->
    <!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" role="button">
           Locais de Interesse
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Paço dos Duques de Bragança</a>
            <a class="dropdown-item" href="#">Torre da Porta Nova</a>
            <a class="dropdown-item" href="#">Jardim das Barrocas</a>
        </div>
    </div> -->

    <!--Botão de pesquisa -->

</div>


<div class="container">

        <div class="row">
                <div class="col-4">
                        <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Localização
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Barcelos</a>
                                    <a class="dropdown-item" href="#">Braga</a>
                                    <a class="dropdown-item" href="#">Porto</a>
                                </div>
                            </div>
                </div>
                <div class="col-4">
                        <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" role="button">
                                   Locais de Interesse
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Paço dos Duques de Bragança</a>
                                    <a class="dropdown-item" href="#">Torre da Porta Nova</a>
                                    <a class="dropdown-item" href="#">Jardim das Barrocas</a>
                                </div>
                            </div>
                </div>
                <div class="col-1">
                        <button type="button" class="btn btn-outline-primary">Primary</button>
                </div>
                <div class="col-3">
                        3 of 3
                </div>
              </div>


</div>

<button class="btn btn-primary">Button</button>
<!--Div para a barra fixa da home page -->
<div class="sidebar"> </div>